<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryInStorePickupApi\Model\SearchResult\Extractor">
        <plugin name="filter_sources_by_product_quantities" type="MageSuite\InStorePickup\Plugin\InventoryInStorePickupApi\Model\SearchResult\Extractor\FilterSourcesByQuoteItemsQuantities" sortOrder="10" />
    </type>
</config>
